.nav {
  background-color: #020122;
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9f9f9;
  font-family: "IBM Plex Mono", monospace;
}

.menu {
  visibility: hidden;
}
.menu li:hover {
  background-color: #f2f3ae;
  box-shadow: 2px 2px 3px 1px #edd382;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.hamburger {
  visibility: hidden;

  padding-right: 20px;
}
.mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #020122;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mob-li {
  padding: 1.5rem;
  font-size: x-large;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  transform: translateY(19%);
}

.soc-icons {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 35%;
  left: 0;
  color: #020122;
}
.soc-li {
  width: 160px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -100px;
}
.soc-li:hover {
  margin-left: 10px;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
  background-color: #515151;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 4px 4px 3px 1px rgb(0, 0, 0);
}
.home {
  background-color: #020122;
  width: 100vw;
  height: 100vh;
}
.soc-li a {
  color: #ff521b;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.container {
  max-width: 1000px;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}
.hi-im {
  color: #666547;
  font-family: "IBM Plex Mono", monospace;
  font-size: 40px;
  margin-left: 100px;
}
.Ethan {
  color: #ff521b;
  font-family: "IBM Plex Mono", monospace;
  font-weight: bold;
  font-size: 60px;
  margin-left: 150px;
}
.buildthings {
  color: #6fcb9f;
  font-family: "IBM Plex Mono", monospace;
  font-size: 30px;
  margin-left: 220px;
}
.desc {
  color: #666547;
  font-family: "IBM Plex Mono", monospace;
  font-size: 20px;
  margin-left: 150px;
}
.lookBtn {
  color: #6fcb9f;
  border-color: #515151;
  background-color: #020122;
  border: #515151 solid;
  padding: 10px;
  margin: 50px;
  margin-left: 300px;
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.lookBtn:hover span {
  transform: rotate(90deg);
  transition-duration: 300ms;
}
.lookBtn:hover {
  background: #ff521b;
  color: #020122;
  border-color: #ff521b;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}
.about {
  width: 100%;
  height: 100vh;
  background-color: #020122;
  color: #6fcb9f;
  font-family: "IBM Plex Mono", monospace;
}
.about-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@media (min-width: 800px) {
  .menu {
    display: flex;
    gap: 4rem;
    visibility: visible;
  }
  .nav {
    background-color: #020122;
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: right;
    color: #666547;
    font-family: "IBM Plex Mono", monospace;
  }
}
@media (max-width: 800px) {
  .hamburger {
    visibility: visible;
  }
  .nav {
    display: flex;
    justify-content: right;
  }
}
