:root{
  --head-color: #D90429;
  --font-family:'Sen', sans-serif;
}

.nav {
  width: 100%;
  height: 80px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color:var(--head-color);
  font-family: var(--font-family);
  background-color: var(--background-color);
}
.Ethan{
  font-size: 100px;
  font-weight: bold;
  animation-duration: 2s;
  animation-name: slidein;
  animation-iteration-count:initial;
  min-height: 100px;

}
.webdev{
  font-size: large;
  font-weight: bold;
  animation-duration: 2s;
  animation-name: slideinright;
  animation-iteration-count:initial;
  min-height: 100px;
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slideinright {
  from {
   transform: translateX(-100%);
  }

  to {
 transform:  translate(0%);
   
  }
}
@keyframes fadein {
  from {
   opacity: 0;
  }

  to {
opacity: 100%;   
  }
}

.menu {
  visibility: hidden;
}
.menu li:hover {
cursor: pointer;
}

.hamburger {
  visibility: hidden;

  padding-right: 20px;
}
.mobile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family);

}
.mob-li {
  padding: 1.5rem;
  font-size: x-large;
}
.closeBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  transform: translateY(19%);
}


.home {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-family);

}
.home-btn{
  display: flex;
  justify-content: center;
  position: absolute;
  right:    50%;
  bottom:   0;
  animation-duration: 5s;
  animation-name: fadein;
  animation-iteration-count:initial;
  cursor: pointer;
}
.container {
  max-width: 100vw;
  margin: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.about {
  width: 100vw;
  height: 100vh;
  color:var(--head-color);
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-family);
 
}

.about-title {
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  width: 50px;
  padding-bottom: 400px;
  font-family: var(--font-family);

}


.projects-title {
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  padding-top: 100px;
  display: flex;
  justify-content: left;
  color:var(--head-color);
  font-family: var(--font-family);

}
.projects-grid{
  height: auto;
   width: 100vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 100px;
   font-family: var(--font-family);
   font-size: x-large;
   line-height: 120%;
   color:var(--head-color);
 

 }
 img{
  border-radius: 15px;
 }
    
.div1 { 
  height: 250px;
  width: 50vw;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  border-radius: 15px;

 }

.div2 { 
  height: 250px;
  width: 50vw; 
  background-color: var(--background-color);    display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 50px;

}

.div3 {
  height: 250px;
  width:50vw; 
  background-color: var(--background-color);  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 50px;
}
.in1{
width: 100vw;
height:250px;
color: var(--link-color);
display: flex;
justify-content: center;
flex-direction: column;
}

.in2{
  width: 100vw;
  height:250px;
  color: var(--link-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.in3{
  width: 100vw;
  height:250px;
  color: var(--link-color);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

button{
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-family: var(--font-family);
  background: var(--head-color)
}









.contact {
  width: 100%;
  height: 100vh;
  color:var(--head-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-form {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.inner-form {
  background-color: #515151;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: #6fcb9f 5px solid;
  gap: 20px;
}
.namesubmit {
  width: 300px;
  height: 20px;
  font-family: var(--font-family);

}
.emailsubmit {
  width: 300px;
  height: 30px;
  font-family: var(--font-family);

}
textarea {
  width: 300px;
  font-family: var(--font-family);

}
.sendBtn {
  border: none;
  outline-color: none;
  font-family: var(--font-family);

}
.contact-title {
  font-weight: bold;
  font-size: 40px;
  padding: 20px;
  padding-top: 100px;
  display: flex;
  justify-content: left;
  color:var(--head-color);
  font-family: var(--font-family);

}

@media (min-width: 800px) {
  .menu {
    display: flex;
    gap: 4rem;
    visibility: visible;
  }
  .nav {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    justify-content: right;
    align-items: right;
  }
}
@media (max-width: 800px) {
  .hamburger {
    visibility: visible;
  }
  .nav {
    display: flex;
    justify-content: right;
  }
}


@media (max-width: 1600px) {
  .skill-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
